# Google Maps API Key
# Masukkan API Key Google Maps Anda di bawah ini jika menggunakan @react-google-maps/api
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=YOUR_GOOGLE_MAPS_API_KEY_HERE

# Nomor WhatsApp Resmi Perusahaan (Format: 628xxxxxxxxxx)
NEXT_PUBLIC_WHATSAPP_NUMBER=6281198765432
